#------------------------------------------------
# This file is juju managed
#------------------------------------------------

###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.

define contact{
        contact_name                    root
        alias                           Root
        service_notification_period     {{ admin_service_notification_period }}
        host_notification_period        {{ admin_host_notification_period }}
        service_notification_options    {{ admin_service_notification_options }}
        host_notification_options       {{ admin_host_notification_options }}
        service_notification_commands   {{ admin_service_notification_commands }}
        host_notification_commands      {{ admin_host_notification_commands }}
        email                           {{ admin_email }}
        }



###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 root{% if enable_pagerduty -%}, pagerduty{% endif %},opsgenie
        }

