#------------------------------------------------
# This file is juju managed
#------------------------------------------------

###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.
{% for contact in contacts %}
define contact{
        contact_name                    {{ contact['contact_name'] }}
        alias                           {{ contact['alias'] }}
        service_notification_period     {{ admin_service_notification_period }}
        host_notification_period        {{ admin_host_notification_period }}
        service_notification_options    {{ admin_service_notification_options }}
        host_notification_options       {{ admin_host_notification_options }}
        service_notification_commands   {{ admin_service_notification_commands }}
        host_notification_commands      {{ admin_host_notification_commands }}
        email                           {{ contact['email'] }}
        }
{% endfor %}

###############################################################################
###############################################################################
#
# EXTRA CONTACTS
#
###############################################################################
###############################################################################

{% for contact in extra_contacts %}

define contact{
        contact_name                    {{ contact.name }}
        alias                           {{ contact.name }}
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,r
        service_notification_commands   notify-service-by-{{ contact.name }}
        host_notification_commands      notify-host-by-{{ contact.name }}
        }


define command {
        command_name                    notify-service-by-{{ contact.name }}
        command_line                    {{ contact.service }}
}

define command {
        command_name                    notify-host-by-{{ contact.name }}
        command_line                    {{ contact.host }}
}

{% endfor %}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 {{ contactgroup_members }}{% for contact in extra_contacts %}, {{ contact.name }}{% endfor %}
        }
