
define command{
        command_name send-service-trap
        command_line /usr/local/bin/send-service-trap {{ send_traps_to }} public "$HOSTNAME$" "$SERVICEDESC$" $SERVICESTATEID$ "$SERVICEOUTPUT$"
}

define command{
        command_name send-host-trap
        command_line /usr/local/bin/send-host-trap {{ send_traps_to }} public "$HOSTNAME$" $HOSTSTATEID$ "$HOSTOUTPUT$"
}

define contact{
        contact_name                    managementstation
        alias                           Management Station
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    {{ traps_service_notification_options }}
        host_notification_options       {{ traps_host_notification_options }}
        service_notification_commands   send-service-trap
        host_notification_commands      send-host-trap
}

